<hr id="footer-hr">
<div class="ui grid container">
  <div class="four column row">
    <div class="left floated column">
      <div class="ui large header">Connect with IBM &nbsp;</div>
      <a href="http://www.linkedin.com/company/ibm"><i class="big blue linkedin square icon"></i>&nbsp;</a>
      <a href="http://www.ibm.com/blogs/think/"><i class="big teal browser icon"></i>&nbsp;</a>
      <a href="http://www.youtube.com/ibm"><i class="big red youtube play icon"></i>&nbsp;</a>
    </div>
    <div class="right floated column">
      <a style="float: right;"><img src="{{url_for('static', filename='css/images/IBM_icon.png')}}" alt="IBM icon">&nbsp;</a></div>
    </div>
  </div>
</div>
